@charset "ISO-8859-1";
      .colore-principale{
        background-color: #9697e7;
      }

      a.colore-principale:hover, a.colore-principale:focus,
      button.colore-principale:hover,
      button.colore-principale:focus {
        background-color: #9697e7;
      }

      .btn-principale {
        color: #fff;
        background-color: #9697e7;
        border-color: #9697e7;
      }

      .btn-principale:hover {
        color: #fff;
        background-color: #9697e7;
        border-color: #9697e7;
      }
	  
	  .bottoneindietro {
	  background: transparent;
	  border: none;
	  margin: 30px auto 0;
	  display: block;
	  font-size: 20px;
	  outline: none;
	  position: relative;
	  transition: 0.3s;
	  padding: 10px;
	  
	  border-radius:5px;
		}
		.bottoneindietro:before {
		  content: '';
		  border-bottom: 1px solid #000;
		  padding: 0 10px;
		  position: absolute;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  margin: 0 auto;
		  width: 0;
		  transition: 0.3s;
		}
		.bottoneindietro:hover:before {
		  width: 100%;
		  padding: 0;
		}
		.bottoneindietro:active {
		  background:#9697e7;;
		  color: #fff;
		  transition: none;
		}